@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

:root {
    --highlight: #e7ffd7;
    --light-green: #add797;
    --green: #599079;
    --dark-green: #1a3b41;
}

* {
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    font-family: 'Press Start 2P', cursive;
    font-size: 16px;
    background-color: #d6d6d6;
}

h1 {
    margin-bottom: 5px;
    font-size: 5vmin;
    color: #404484;
}

#game-board {
    display: grid;
    grid-template-rows: repeat(21, 1fr);
    grid-template-columns: repeat(21, 1fr);
    width: 80vmin;
    height: 80vmin;
    max-width: 680px;
    max-height: 680px;
    background-color: var(--light-green);
    border: 1vmin solid #000;
}

.snake {
    background-color: var(--green);
    border: 0.25vmin solid var(--light-green);
}

.apple {
    width: 3.5vmin;
    height: 3.5vmin;
    content: url(./apple-alt-solid.svg);
}

@keyframes flicker {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.press-to-start {
    display: block;
    position: absolute;
    font-size: 3vmin;
    text-align: center;
    color: var(--dark-green);
    animation: flicker 1.5s infinite alternate cubic-bezier(0.21,-0.25, 0.7, 0.51);
}

.record {
    display: flex;
    flex-direction: row;
    width: 80vw;
    max-width: 680px;
    justify-content: space-between;
    margin-top: 10px;
}

.record__column {
    display: flex;
    flex-direction: row;
}

.record__column .score-title {
    margin-right: 10px;
    color: #404484;
}

.no-small-screen {
    display: none;
}

@media (max-width: 500px) {
    .no-small-screen {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        width: 100vw;
        height: 100vh;
        text-align: center;
        background-color: #d6d6d6;
    }
    .no-small-screen img {
        margin-bottom: 50px;
        width: 100px;
    }
}